# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
build/
web-build/
expo-env.d.ts
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Expo debug logs
*.log

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem
.AppleDouble
.LSOverride

# OS / editor
Thumbs.db
.vscode/*
!.vscode/settings.json

# Python backend
__pycache__/
*.pyc
.venv/
.envrc

# local env files
.env*.local

# env files
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo

app-example
